html{
  font-size: 8vw;
  font-size: 8vh;
  font-size: 20px;
    background: linear-gradient(135deg, #93d15d, #43a798);
}


.head{
    background-color: hsl(0, 100%, 99%);
    width: auto;
    padding: 50px;
    margin: 20px;
    opacity: .5;
    
  }
  .body{
    background-color: lightgrey;
    width: auto;
    padding: 50px;
    margin: 20px;
  }
  .box {
    width:auto;
    height:auto;
    
  }
  img {
    width: 12%;
    height: 12%;
    object-fit: cover;
  }

  
  @media only screen and (max-width: 620px) {
    .body, .main, .box {
      width: 100%;}}